<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать счет</title>
</head>
<body>
<h th:text="${message}"></h>
<form method="POST" th:action="@{/user/createBankAccount}" th:object="${bankAccount}">
    <input hidden th:field="*{id}"/>
    <p>Begin Date: <input type="date" th:field="*{beginDate}"/>
    <p>End Date: <input type="date" th:field="*{endDate}"/>
    <p>Value: <input type="text" th:field="*{value}"/>
    <p>Percent: <input type="text" th:field="*{percent}"/>
    <p>Replenishable: <input type="checkbox" th:field="*{replenishable}"/>
    <p>Lockable: <input type="checkbox" th:field="*{lockable}"/>
    <p>Capitalizable: <input type="checkbox" th:field="*{capitalizable}"/>
    <p>Withdrawalable: <input type="checkbox" th:field="*{withdrawalable}"/>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>