<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
        <div class="container">
            <div class="starter-template">
                <h2><a th:href="@{/user}">USER </a></h2>
                <h2><a th:href="@{/operator}">OPERATOR</a></h2>
            </div>
        </div>
</body>
</html>