<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Begin Date</th>
        <th>End Date</th>
        <th>Value</th>
        <th>Percent</th>
        <th >Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currentRequest : ${requests}">
        <td th:text="${currentRequest.id}">ID</td>
        <td th:text="${currentRequest.beginDate}">Begin Date</td>
        <td th:text="${currentRequest.endDate}">End Date</td>
        <td th:text="${currentRequest.value}">Value</td>
        <td th:text="${currentRequest.percent}">Percent</td>
        <td th:text="${currentRequest.status}">Status</td>
        <td><td><a th:href="@{/operator/editCreditLineRequest(id=${currentRequest.id})}">Редактировать</a></td></td>
    </tr>
    </tbody>
</table>
</body>
</html>