<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h th:text="${message}"></h>
<form method="POST" th:action="@{/user/put}" th:object="${form}">
    <input hidden th:field="*{id}"/>
    <p>Money: <input type="text" th:field="*{money}"/>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>