<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Счета</h1>
    <h2><a th:href="@{/user/createBankAccount}">Открыть банковский счет </a></h2>
    <table>
        <thead>
        <tr>
            <th >ID: </th>
            <th >Begin Date</th>
            <th >End Date</th>
            <th >Value</th>
            <th >Replenishable</th>
            <th >Lockable</th>
            <th >Capitalizable</th>
            <th >Withdrawalable</th>
            <th >Percent</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="currentAccount : ${bankAccounts}">
            <td th:text="${currentAccount.id}">ID</td>
            <td th:text="${currentAccount.beginDate}">Begin Date</td>
            <td th:text="${currentAccount.endDate}">End Date</td>
            <td th:text="${currentAccount.value}">Value</td>
            <td th:text="${currentAccount.replenishable}">Replenishable</td>
            <td th:text="${currentAccount.lockable}">Lockable</td>
            <td th:text="${currentAccount.capitalizable}">Capitalizeble</td>
            <td th:text="${currentAccount.withdrawalable}">Withdrawalable</td>
            <td th:text="${currentAccount.percent}">Percent</td>
            <td><a th:href="@{/user/put(id=${currentAccount.id})}">Вложить</a></td>
            <td><a th:href="@{/user/pull(id=${currentAccount.id})}">Снять</a></td>
            <td><a th:href="@{/user/transfer(id=${currentAccount.id})}">Перевести</a></td>
            <td><a th:href="@{/user/closeBankAccount(id=${currentAccount.id})}">Закрыть</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h1>Переводы</h1>
    <h2>Отправленные</h2>
    <table>
        <thead>
        <tr>
            <th >Date</th>
            <th >Value</th>
            <th >Receiver</th>
            <th >Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transfer : ${sent}">
            <td th:text="${transfer.time}">Begin Date</td>
            <td th:text="${transfer.value}">End Date</td>
            <td th:text="${transfer.receiver.id}">Value</td>
            <td th:text="${transfer.status}">Debt</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Полученные</h2>
    <table>
        <thead>
        <tr>
            <th >Date</th>
            <th >Value</th>
            <th >Sender</th>
            <th >Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transfer : ${received}">
            <td th:text="${transfer.time}">Begin Date</td>
            <td th:text="${transfer.value}">End Date</td>
            <td th:text="${transfer.sender.id}">Value</td>
            <td th:text="${transfer.status}">Debt</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h1>Кредитные линии</h1>
    <table>
        <thead>
        <tr>
            <th >Begin Date</th>
            <th >End Date</th>
            <th >Value</th>
            <th >Percent</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currentCreditLines : ${creditLines}">
            <td th:text="${currentCreditLines.beginDate}">Begin Date</td>
            <td th:text="${currentCreditLines.endDate}">End Date</td>
            <td th:text="${currentCreditLines.value}">Value</td>
            <td th:text="${currentCreditLines.debt}">Debt</td>
            <td th:text="${currentCreditLines.percent}">Percent</td>
            <td><a th:href="@{/user/pullCreditLine(creditLineId=${currentCreditLines.id})}">Снять</a></td>
            <td><a th:href="@{/user/putCreditLine(creditLineId=${currentCreditLines.id})}">Вложить</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h1>Запросы на открытие кредитной линии</h1>
    <h2><a th:href="@{/user/createCreditLineRequests}">Открыть кредитную линию</a></h2>
    <table>
        <thead>
        <tr>
            <th >Begin Date</th>
            <th >End Date</th>
            <th >Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currentRequest : ${requests}">
            <td th:text="${currentRequest.beginDate}">Begin Date</td>
            <td th:text="${currentRequest.endDate}">End Date</td>
            <td th:text="${currentRequest.status}">Status</td>
            <td><a th:href="@{/user/accept(id=${currentRequest.id})}">Принять</a></td>
            <td><a th:href="@{/user/close(id=${currentRequest.id})}">Отклонить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>